asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
Django==5.1.7
django-cors-headers==4.7.0
django-filter==25.1
djangorestframework==3.15.2
idna==3.10
Markdown==3.7
requests==2.32.3
s4api==1.1.0
sqlparse==0.5.3
urllib3==2.3.0