<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Pitstop</title>
		{% load static %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
    	<link href="{% static 'css/output.css' %}" rel="stylesheet" type="text/css" />
		<script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
	</head>

	<body class="font-serif leading-normal tracking-normal">
		<div class="bg-[#e10600] justify-between shadow-sm p-[10px] flex">
			<div class="flex flex-row  items-end">
				<a href="/">
					<img src="{% static 'images/f1_logo.png' %}" alt="logo" class="h-10" />
				</a>
			</div>
			<div class="flex flex-row gap-5">
				<ul class="flex px-2 text-white">
					<li class="flex flex-row items-center px-2">
						<form method="POST" action="{% url 'inference_rules' %}">
							{% csrf_token %}
							<button class="btn btn-info btn-xs">Apply SPIN Rules</button>
						</form>
					</li>
					<li class="flex flex-row items-center hover:bg-amber-50 hover:rounded-sm hover:duration-500 hover:text-black">
						<a href="/circuits" class="text-xl font-semibold">
							<span class="flex items-center m-2 gap-2">
								<i class="fa-solid fa-map-location-dot"></i>
								<span class="text-xl font-semibold">Circuits</span>
							</span>
						</a>
					</li>
					<li class="flex flex-row items-center hover:bg-amber-50 hover:rounded-sm hover:duration-500 hover:text-black">
						<a href="/drivers" class="text-xl font-semibold">
							<span class="flex items-center m-2 gap-2">
								<i class="fa-solid fa-id-card text-xl"></i>
								<span class="text-xl font-semibold">Drivers</span>
							</span>
						</a>
					</li>
					<li class="flex flex-row items-center  px-2 hover:bg-amber-50 hover:rounded-sm hover:duration-500 hover:text-black">
						<a href="/races" class="text-xl font-semibold">
							<span class="gap-2">
								<i class="fa-solid fa-flag-checkered text-lg"></i>
								<span class="text-xl font-semibold">Races</span>
							</span>
						</Link>
					</li>
					<li class="flex flex-row items-center px-2 hover:bg-amber-50 hover:rounded-sm hover:duration-500 hover:text-black">
						<a href="/constructors" class="text-xl font-semibold">
							<span class="gap-4">
								<i class="fa-solid fa-car"></i>
								<span class="text-xl font-semibold">Constructors</span>
							</span>
						</a>
					</li>
					<li class="flex flex-row items-center px-2 hover:bg-amber-50 hover:rounded-sm hover:duration-500 hover:text-black">
						<a href="/seasons" class="text-xl font-semibold">
							<span class="gap-4">
								<i class="fa-solid fa-calendar-days"></i>
								<span class="text-xl font-semibold">Seasons</span>
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
      <main>
		{% block content %} {% endblock %}
	  </main>
	</body>
</html>
