{% extends "base.html" %}
{% block content %}
<div class="p-6">
    <div class="flex justify-between items-center mb-4">
        <span class="flex items-center text-3xl gap-2">
        <h1 class="font-bold text-white">Constructors</h1>
        </span>
    </div>
    <div class="flex flex-col items-center w-full">
      <div class="pt-4 overflow-x-auto w-full">
        <table class="table table-zebra text-white">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>nationality</th>
                <th>wikipedia</th>
            </tr>
            </thead>
            <tbody>
                {% for constructor in constructors %}
                <tr class="text-lg">
                    <th>{{constructor.index}}</th>
                    <td>{{constructor.name}}</td>
                    <td>
                        <img
                            src={{constructor.flag}}
                            alt="Country Flag"
                            class="h-10 w-10"
                        />
                        </td>
                    <td>
                        <a href="{{ constructor.url }}" target="_blank" class="badge badge-outline badge-error">{{constructor.url}}</a>
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
      <div class="join justify-center w-full pt-4">
        <!-- Previous Button -->
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" 
                class="join-item btn btn-soft btn-error"
            >
            «
            </a>
        {% else %}
            <button class="join-item btn btn-soft">
            «
            </button>
        {% endif %}

        <!-- Current Page Button -->
        <p class="join-item btn btn-error">
            Page {{ page_obj.page }}
        </p>

        <!-- Next Button -->
        <a href="?page={{ page_obj.next_page_number }}" 
            class="join-item btn btn-soft btn-error"
        >
        »
        </a>
        </div>
    </div>
</div>
{% endblock %}