{% extends "base.html" %}
{% block content %}
<div class="p-6">
    <div class="flex justify-between items-center mb-4">
        <span class="flex items-center text-3xl gap-2">
            <h1 class="font-bold text-white">Seasons</h1>
        </span>
        <a href="{% url "add_season" %}"><button class="btn bg-[#e10600] items-center flex"><FaCirclePlus className="text-lg"/> Add Season</button></a>
    </div>
    <div class="flex flex-col items-center w-full">
      <div class="pt-4 overflow-x-auto w-full">
        <table class="table table-zebra text-white">
            <thead>
            <tr>
                <th></th>
                <th>year</th>
                <th>url</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for season in seasons %}
                <tr key={index} class="text-lg">
                    <th>{{season.index}}</th>
                    <td>{{season.year}}</td>
                    <td>
                        <a class="badge badge-soft badge-primary" href={{season.url}}>
                        {{season.url}}
                        </a>
                    </td>
                    <td>
                    <a href="/seasons/{{season.year}}">
                        <button class="btn btn-soft btn-info btn-circle">
                        <i class="fa-solid fa-magnifying-glass-plus text-xl"></i>
                        </button>
                    </a>
                    </td>
                    <td>
                    <form method="POST" action="{% url 'delete_season' season.year %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-soft btn-error btn-circle">
                            <i class="fa-solid fa-trash-can text-xl"></i>
                        </button>
                    </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
      <div class="join justify-center w-full pt-4">
        <!-- Previous Button -->
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" 
                class="join-item btn btn-soft btn-error"
            >
            «
            </a>
        {% else %}
            <button class="join-item btn btn-soft">
            «
            </button>
        {% endif %}

        <!-- Current Page Button -->
        <p class="join-item btn btn-error">
            Page {{ page_obj.page }}
        </p>

        <!-- Next Button -->
        <a href="?page={{ page_obj.next_page_number }}" 
            class="join-item btn btn-soft btn-error"
        >
        »
        </a>
        </div>
    </div>
</div>
{% endblock %}